*{
    height: 100%;
    margin: 0;
    padding: 0;
}
.all{
    width: 100%;
    height: 100%;
    background-color: white;
}
.headd{
    background-color: white;    
    width: 100%; /*auto*/
    height: 10vh;
    position: fixed; /*relative*/
    z-index: 1000;
    top: 0;
    display: flex;
}
#main_pic{
    position: absolute;
    max-width: 20%;
    top: 50%; /* bu ve altındaki satır parentin içindeki child div'ini y ekseninde ortalar */
    transform: translateY(-50%);
    left: 0; /* ne olur ne olmaz diye sola yasladık */
    height: 10vh;
}
.search_area{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

    position: absolute;
    left: 50%; /*bu ve altındaki 2 satır tam ortaladı*/
    top: 50%;
    transform: translate(-50%,-50%);
    width: 30vw;
}

.login_area{
    background-color: white;
    padding: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    font-weight: bold;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }
    
    .upload_key{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10vh;
        height: 7vh;
        background-color: white;
        color: deepskyblue;
        border-radius: 1rem;
    }
    .th_days{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13vh;
        height: 7vh;
        background-color: deepskyblue;
        color: white;
        border-radius: 1rem;
        font-size: 0.8em;
    }
    .login_{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 13vh;
        height: 7vh;
        background-color: white;
        color: deepskyblue;
        border-radius: 1rem;
    }
}

.bas_foto{
    top: 10vh;
    position: relative;
    width: auto;
    height: 40vh;
    img{
        width: 100%;
        height: 35vh;
    }
    .img_ici_text{
        position: absolute;
        width: 15vw;
        height: 5vh;
        top: 38%;
        transform: translateY(-38%);
        left: 10vh;
        font-weight: bold;
        color: white;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
    }
}
.slides{
    background-color: black;
    width: 100%;
    height: auto;
    display: grid;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    .first_row{
        background-color: white;
        left: 50%;
        margin: 1vh auto;
        width: 90%;
        height: 45vh;
        .first_title{
            padding: 2px;
            padding-top: 8px;
            display: flex;
            justify-content: space-between;
            height: 4vh;
        }
        .first_four_slide{
            display: flex;
            justify-content: space-between;
            background-color: brown;
            height: 41vh;
            .first_11{
                width: 24%;
                background-color: blue;
            }
            .first_12{
                width: 24%;
                background-color: blue;
            }
            .first_13{
                width: 24%;
                background-color: blue;
            }
            .first_14{
                width: 24%;
                background-color: blue;
            }
            img{
                transition: transform 0.3s ease;
            }
            :hover img{
                transform: scale(1.02);
            }
        }
    }
    .second_row{
        background-color: skyblue;
        left: 50%;
        margin: 1vh auto;
        width: 90%;
        height: 45vh;
        .second_title{
            padding: 2px;
            padding-top: 8px;
            display: flex;
            justify-content: space-between;
            height: 4vh;
        }
        .second_four_slide{
            display: flex;
            justify-content: space-between;
            background-color: brown;
            height: 41vh;
            .second_11{
                width: 24%;
                background-color: blue;
            }
            .second_12{
                width: 24%;
                background-color: blue;
            }
            .second_13{
                width: 24%;
                background-color: blue;
            }
            .second_14{
                width: 24%;
                background-color: blue;
            }
            img{
                transition: transform 0.3s ease;
            }
            :hover img{
                transform: scale(1.02);
            }
        }
    }
    .third_row{
        background-color: chocolate;
        left: 50%;
        margin: 1vh auto;
        width: 90%;
        height: 45vh;
        .third_title{
            padding: 2px;
            padding-top: 8px;
            display: flex;
            justify-content: space-between;
            height: 4vh;
        }
        .third_four_slide{
            display: flex;
            justify-content: space-between;
            background-color: brown;
            height: 41vh;
            .third_11{
                width: 24%;
                background-color: blue;
            }
            .third_12{
                width: 24%;
                background-color: blue;
            }
            .third_13{
                width: 24%;
                background-color: blue;
            }
            .third_14{
                width: 24%;
                background-color: blue;
            }
            img{
                transition: transform 0.3s ease;
            }
            :hover img{
                transform: scale(1.02);
            }
        }
    }
    .fourth_row
    {
        background-color: chocolate;
        left: 50%;
        margin: 1vh auto;
        width: 90%;
        height: 45vh;
        .fourth_title{
            padding: 2px;
            padding-top: 8px;
            display: flex;
            justify-content: space-between;
            height: 4vh;
        }
        .fourth_four_slide{
            display: flex;
            justify-content: space-between;
            background-color: brown;
            height: 41vh;
            .fourth_11{
                width: 24%;
                background-color: blue;
            }
            .fourth_12{
                width: 24%;
                background-color: blue;
            }
            .fourth_13{
                width: 24%;
                background-color: blue;
            }
            .fourth_14{
                width: 24%;
                background-color: blue;
            }
            img{
                transition: transform 0.3s ease;
            }
            :hover img{
                transform: scale(1.02);
            }
        }
    }
}
/*-----------------------------------*/
.all_slide1{
    display: flex;
    justify-content: space-between;
    background-color: black;
}